body {
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #e9ecef;
    margin-bottom: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 20px; /* 调整这个值以改变字体大小 */
}

main {
    margin: 0 auto;
    width: 80%;
    background-color:#f5f5f5;
    padding: 20px;
}

#diaryContainer div {
    color: black;
    margin: 10px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.content-section {
    display: none;
}

form {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

input[type="submit"] {
    background-color: #5885d3;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }